.container {
    display: grid;
    height: 100vh;

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);

    padding: 16px;
}

[class^="box-"] {
    cursor: pointer;

    text-transform: uppercase;
    color: white;
    text-decoration: underline;

    display: grid;
    place-items: center;
}

.text-box {
    font-size: 20px;
}