.container {
    display: grid;
    height: 100vh;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    overflow:hidden;
}

[class^="box-"] {
    cursor: pointer;

    text-transform: uppercase;
    color: white;
    text-decoration: none;

    display: grid;
    place-items: center;
}

.text-box {
    font-size: 40px;
}

[class^="box-"]:hover {
    transform: scale(1.05);
    font-size: 45px;
    transition: 1s;
}

.box-info:hover {
    background: url(../images/information.webp) center no-repeat;
    background-size: cover;
}

.box-projects:hover {
    background: url(../images/projects.webp) center no-repeat;
    background-size: cover;
}

.box-archive:hover {
    background: url(../images/archive.webp) center no-repeat;
    background-size: cover;
}

.box-connection:hover {
    background: url(../images/connection.webp) center no-repeat;
    background-size: cover;
}