* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;

    background: url(../images/backgroun.webp) center no-repeat, linear-gradient(to right top, #454545, #212121);
    background-size: cover;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    overflow:hidden;
}

[class^="box-"] {
    cursor: pointer;

    font-size: 40px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;

    display: grid;
    place-items: center;
}

[class^="box-"]:hover,
.text-box {
    transform: scale(1.05);
    font-size: 50px;
    transition: 1s;
}

.box-info:hover {
    background: url(../images/information.jpg) center no-repeat;
    background-size: cover;
}

.box-projects:hover {
    background: url(../images/projects.jpg) center no-repeat;
    background-size: cover;
}

.box-archive:hover {
    background: url(../images/archive.jpg) center no-repeat;
    background-size: cover;
}

.box-about:hover {
    background: url(../images/about.jpg) center no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 950px) {
    .container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    [class^="box-"] {
        font-size: 25px;
    }
}