.logo {
    user-select: none;

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    font-weight: 200;
    color: white;
    font-size: 100px;
    text-transform: uppercase;

    border: 2px solid white ;
    padding: 0 15px;
}

