.container {
    display: grid;
    height: 100vh;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);

    padding: 16px;
}

[class^="box-"] {
    cursor: pointer;

    text-transform: uppercase;
    color: white;
    text-decoration: none;

    display: grid;
    place-items: center;
}

.text-box {
    font-size: 20px;
}

.btn {
    position: absolute;
    width: 50px;
    height: 100vh;

    cursor: pointer;

    padding:48vh 32px;
    border-radius: 0px;

    transition: ease-out 0.4s;
}

.btn:hover {
    box-shadow: inset 72px 0 0 0 rgba(88, 88, 88, .8);
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
}

.left {
    transform: rotate(135deg);
}