body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* container */

.container {
    margin: 64px 140px;
}


/* header */

.header {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
}

.header-bg {
    background-color: #ffffff;
    height: 100%;
    opacity: .5;
}

.header-inner {
    padding: 0 140px;
}

.header-text {
    font-family: serif;
    margin-left: 8px;
    font-size: 32px;
    position: absolute;
    top: 20%;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    font-family: 'Bellota';
}


/* nav */
.nav {
    position: absolute;
    right: 8px;
    padding: 0 140px;
    top: 35%;
    font-size: 18px;
    text-transform: uppercase;
}

.title-btn {
    display: inline-block;
    vertical-align: top;
    margin: 0 16px;
    position: relative;
    text-decoration: none;
}

.nav-btn {
    display: inline-block;
    vertical-align: top;
    margin: 0 16px;
    position: relative;
    color: #000000;
    text-decoration: none;
    transition: color .2s linear;
}

.nav-btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    opacity: 0;
    position: absolute;
    top: 100%;
    font: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav-btn:hover::after {
    opacity: 1;
}


/* intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 920px;
    background: #99BEF2 url(../images/intro/bg.jpg) top no-repeat;
}

/* eco */

#eco {
    margin: 64px 140px;
}

.eco-container {
    display: flex;
}

.eco-title {
    margin: 64px 140px 24px 0;
    font-size: 64px;
}

.eco-title:after {
    content: "";
    display: block;
    width: 316px;
    height: 2px;
    background-color: #000000;
    position: absolute;
}

.eco-def {
    width: 655px;
    font-size: 42px;
    height: 100%;
    margin-right: 471px;
}

.eco-pic {
    background: url(../images/eco/img.jpg) center no-repeat;
    width: 530px;
    height: 709px;
}


/* situation */

#sit {
    background: url(../images/sit/bg.jpg) center no-repeat;
    align-items: center;
    display: flex;
}

.sit__container {
    background-color: #ffffffbe;
    margin: 64px 140px;
    text-align: center;
}

.sit__title {
    font-size: 64px;
    margin: 32px 0 48px 0;
}

.sit__content {
    display: flex;
}

.sit__text {
    font-size: 45px;
    margin: 16px;
    text-align: justify;
}


/* problems */

#pro {
    margin: 64px 140px;
}

.pro-container {
    display: flex;
}

.pro-title {
    margin: 64px 0 24px 0;
    font-size: 64px;
    text-align: right;
}

.pro-title:after {
    content: "";
    display: block;
    width: 685px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    right: 152px;
}

.pro-def {
    width: 655px;
    height: 100%;
    font-size: 50px;
    margin-left: 410px;
}

.pro-pic {
    background: url(../images/pro/pic.jpg) center no-repeat;
    width: 530px;
    height: 709px;
}


/* solution */

#sol {
    background: url(../images/sol/bg.jpg) center no-repeat;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.sol__content {
    background-color: #ffffffbe;
    width: 100%;
    margin: 64px 140px;
    font-size: 45px;
}

.sol__title {
    font-size: 100px;
    margin: 0 300px;
}

.sol__title:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    font-size: 0;
    z-index: 1;
}

.sol__text {
    margin: 32px 16px;
    text-align: justify;
}

.sol__text ol {
    margin-left: 32px;
}


/* footer */

footer {
    background-color: #ffffff;
    padding: 8px;
}

.footer-content {
    text-align: center;
    margin: 4px auto;
    color: #000000;
    text-decoration: none;
}