* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    min-height: 100vh;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    background: url(../images/background.webp) center no-repeat gray;
    background-size: cover;

    overflow:hidden;
}

[class^="box-"] {
    cursor: pointer;

    text-transform: uppercase;
    color: white;
    text-decoration: none;

    display: grid;
    place-items: center;
}

[class^="box-"]:hover,
.text-box {
    transform: scale(1.05);
    font-size: 50px;
    transition: 1s;
}

.box-info:hover {
    background: url(../images/information.jpg) center no-repeat;
    background-size: cover;
}

.box-projects:hover {
    background: url(../images/projects.jpg) center no-repeat;
    background-size: cover;
}

.box-archive:hover {
    background: url(../images/archive.jpg) center no-repeat;
    background-size: cover;
}

.box-about:hover {
    background: url(../images/about.jpg) center no-repeat;
    background-size: cover;
}
